.pagetitle {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.buttonForType {
  margin: 5px;
  height: auto;
}

.btn-dark {
  height: 10vh;
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group {
  margin-top: 75px;
}
/*styling for the search bar, and button*/
.searchDiv {
  display: block;
}

.searchBar {
  border: none;
}
.search-now {
  background-color: rgb(101, 238, 101);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
}

.load {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.load.hidden {
  display: none;
}

.buttonForType {
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
}

.typeLi {
  display: inline-block;
  padding-right: 0px;
  align-items: center;
}
ul {
  padding-left: 0px;
}

.poke-sprite {
  width: auto;
  height: auto;
}
.modal-title {
  font-family: Poppins, sans-serif;
}

h1 {
  color: white;
  font-family: Poppins, sans-serif;
}

/*Styling for type buttons of different pokemon*/
.buttonForType.water-type {
  border-radius: 5px;
  background-color: rgb(69, 144, 250);
  border: 2px solid black;
}

.buttonForType.fire-type {
  border-radius: 5px;
  background-color: rgb(235, 107, 107);
  border: 2px solid black;
}
.buttonForType.grass-type {
  border-radius: 5px;
  background-color: rgb(85, 204, 85);
  border: 2px solid black;
}
.buttonForType.electric-type {
  border-radius: 5px;
  background-color: rgb(251, 251, 117);
  border: 2px solid black;
}
.buttonForType.ice-type {
  border-radius: 5px;
  background-color: rgb(75, 202, 244);
  border: 2px solid black;
}
.buttonForType.fighting-type {
  border-radius: 5px;
  background-color: rgb(214, 42, 42);
  border: 2px solid black;
}
.buttonForType.poison-type {
  border-radius: 5px;
  background-color: rgb(214, 4, 214);
  border: 2px solid black;
}
.buttonForType.ground-type {
  border-radius: 5px;
  background-color: tan;
  border: 2px solid black;
}
.buttonForType.flying-type {
  border-radius: 5px;
  background-color: #c27fb7;
  border: 2px solid black;
}
.buttonForType.psychic-type {
  border-radius: 5px;
  background-color: rgb(235, 107, 107);
  border: 2px solid black;
}
.buttonForType.bug-type {
  border-radius: 5px;
  background-color: rgb(145, 215, 145);
  border: 2px solid black;
}
.buttonForType.rock-type {
  border-radius: 5px;
  background-color: rgb(158, 128, 89);
  border: 2px solid black;
}
.buttonForType.ghost-type {
  border-radius: 5px;
  background-color: rgb(158, 113, 158);
  border: 2px solid black;
}
.buttonForType.dark-type {
  border-radius: 5px;
  background-color: rgb(118, 80, 80);
  border: 2px solid black;
}
.buttonForType.dragon-type {
  border-radius: 5px;
  background-color: rgb(215, 72, 215);
  border: 2px solid black;
}
.buttonForType.steel-type {
  border-radius: 5px;
  background-color: silver;
  border: 2px solid black;
}
.buttonForType.fairy-type {
  border-radius: 5px;
  background-color: rgb(244, 142, 223);
  border: 2px solid black;
}
